{%  extends 'main.html' %}

{% block content %}
<br>
<form action="{% url 'cadastro' %}"  method="POST">
{% csrf_token %}

	<div class="row">
		<div class="col-md">
			<div class="card"  style="width: 25rem;">
				<div class="card card-body">
					<h5 class="card-title">Dados Pessoais</h5>
					<p class="card-text">Nome: {{ formEgresso.nome }}</p>
					<p class="card-text">CPF: {{ formEgresso.cpf }}</p>
					<p class="card-text">Sexo: {{ formEgresso.sexo }}</p>
					<p class="card-text">Data de Nascimento: {{formEgresso.dataNascimento}}</p>

					<h6 class="card-text">Onde reside atualmente? </h6>
					<p class="card-text">País: {{ formEgresso.pais }}</p>
					<p class="card-text">Estado: {{ formEgresso.estado }}</p>
					<p class="card-text">Cidade: {{ formEgresso.cidade }}</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 25rem;">
				<div class="card card-body">
					<h5 class="card-title">Informações de contato</h5>
					<p class="card-text">Email: {{ formEgresso.email }}</p>
					<p class="card-text">Telefone: {{ formEgresso.telefone }}</p>
					<p class="card-text">Site: {{ formEgresso.site }}</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 25rem;">
				<div class="card card-body">
					<h5 class="card-title">Informações acadêmicas</h5>
					<p class="card-text">Curso: {{ formEgresso.curso }}</p>
					<p class="card-text">Possui outra graduação? {{ formEgresso.outraFormacao }}</p>
					<!-- Campo Condicinal -->
					<p class="card-text">Qual? {{ formEgresso.outraFormacaoInfo }}</p> 
					<!-- Campo Condicionado a pergunta anterior -->
					<p class="card-text">Prentende ingressar em uma Pós-Graduação? {{ formEgresso.ingressoPos }}</p>
					
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 25rem;">
				<div class="card card-body">
					<h5 class="card-title">Informações Profissionais: </h5>
					<p class="card-text">Qual à sua situação no mercado de trabalho? {{ formEgresso.opcaoMercado }}</p>
					<p class="card-text">Área de atuação: {{ formEgresso.areaAtuacao }}</p>	
					<p class="card-text">Natureza da ocupação: {{ formEgresso.formaTrabalho }}</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card" style="width: 25rem;">
				<div class="card card-body">
					<h5 class="card-title">Relate um pouco para nós!</h5>
					<p class="card-text" font-style: bold>Deixe alguma(s) sugestão(ões) para que o curso continue melhorando no processo de formação!</p>
						<div>{{formEgresso.sugestao}}</div>	
					<p class="card-text">Deixe uma mensagem curta e positiva para os formandos!</p>
						<div>{{formEgresso.depoimento}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<br>
        <input class="btn btn-outline-info btn-md" type="submit" name="Salvar">
    </div>
</form>

	{% for message in messages %}
		<p id="messages">{{message}}</p>
	{% endfor %}

{% endblock %}